<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Table</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="imageTable">
                <tr>
                    {% for header in col_headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                <!-- More rows will be added here -->
            </table>
        </div>
    </div>

    <script>
        async function loadMoreImages(rowId) {
            try {
                let response = await fetch('/load_more_images?row_id=' + rowId);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                let row = await response.json();
                if (row.length !== 0) {
                    let newRow = '<tr id="row-' + rowId + '">';
                    newRow += '<td>' + row[0] + '</td>';
                    for (let i = 1; i < row.length; i++) {
                        newRow += '<td><img src="' + row[i] + '" alt="image" class="img-fluid"></td>';
                    }
                    newRow += '</tr>';
                    $('#imageTable').append(newRow);
                }
            } catch (error) {
                console.error('Error fetching image row:', error);
            }
        }
        
        async function loadInitialImages() {
            for (let i = 0; i < 5; i++) {
                await loadMoreImages(i);
            }
        }
        
        $(window).scroll(async function() {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 10) {
                await loadMoreImages(i);
                i++;
            }
        });
        
        let i = 0;
        loadInitialImages();

    </script>
</body>
</html>

